.menu{
    margin: 0px 10px;
    color: rgba(255, 255, 255, 0.5);
}

.menu:hover{
    color: white;
    cursor: pointer;
}

.searchinput{
    outline: none;
    padding: 10px;
    border: none;
    background: rgba(255, 255, 255, 0.0);
    color: white;
    border-bottom: solid 1px white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #686868;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    font-size: 20px;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .menu {
    color: white;
}

.app-icon{
    border-radius: 5px;
    width: 35px;
}

.app-name{
    margin-left: 10px;
}

.app-list{
    padding: 10px;
}

.app-list:hover{
    cursor: pointer;
    background-color: #282828;
} 