body, html{
  margin: 0px;
  padding: 0px;
  font-family: darwin;
}

div{
  font-family: darwin;
}

.wrap{
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}
Link, a , link {
  text-decoration: none;
  text-emphasis: none;
  color: inherit;
}

.img-logo{
  margin-right: 5px;
}

.all-text{
  padding: 0px 10px;
}